/* PUZZLE IMAGE PIECES */
.puzzle-grid {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-top: 30px;
}

.puzzle-piece img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: grab;
}

.puzzle-piece.dragging {
  opacity: 0.5;
}

/* PUZZLE SUCCESS */
.puzzle-success {
  display: none;
  margin-top: 30px;
  font-size: 1.4rem;
  color: #e91e63;
  text-align: center;
}
